html,body {
	font-family: Nunito Sans;
	color: #dbdbdb;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 300%;
    overflow:hidden;
    
	text-align:center;
	
	
	
}
::-webkit-scrollbar {
		display:none;
	}
body {
    
	position:relative;
}


@font-face {
font-family: "Courrier";
src: url("font/cour.ttf");
}
@font-face {
    font-family: "chalk";
    src: url("font/chalk.ttf");

}
/*__________________Header___________________*/


#onglet img {
    
    width: 50px;
    
    right: -25px;
    position: absolute;
    transition: 0.8s all;
    top:50%;
    transform: translate(0,-50%);
    
    
}


.line{
    margin: 10px auto 10px auto;
    height:0px;
    border:2px solid rgba(0,0,0,0.8);
    border-radius:100%;
    width: 200px;
}


header{
    
    z-index:500;
    
    position:absolute;
   
    
    top:-100%;
    
    width: 100%;
    height: 100%;
	
    transition: 0.5s all;
    color:#000;
    
}


header.change{
    transform: translate(0, 100%);
    
}

header.show{
    transform: translate(0, 2%);
    
}


header.show.change{
    transform: translate(0, 100%);
    
}

/*_____Menu Normal_____*/


















/*_____Menu_____*/



#menu{
    font-size:40px;
    top: 19px;
    right: 19px;
    position: absolute;
    transition: 0.8s all;
    z-index: 100;
    color: white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    padding-left:12px;
    padding-bottom:0;
     padding-right:20px;
    padding-top:10px;
}


    

.bgmenu{
    width: 100%;
    bottom:0;
    left:0;
    position: absolute;
}
#onglets{
    
   background:url(images/bg.jpg);
    background-size: 100%;
    width:100%;
    height:100%;
    position: relative;
}
#liens{
    font-family: chalk;
    font-size:30px;
    position: relative;
    top:0;
    left:50%;
    transform: translate(-50%);
    color:black;
	list-style:none;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    width: 90%;
}

#liens a{
    text-decoration: none;
    color:black;
    opacity: 0.8;
}

#liens a:hover{
    opacity: 1;
    cursor:pointer;
}





#infoUn{
    position: absolute;
    z-index: 100;
    left: 29px;
    top:50%;
    transform: translate(0,-50%);
    
}

#infoUn:hover{
    cursor: pointer;
    
}

#borderline{
    position: absolute;
    z-index: 100;
    left: 19px;
    top:50%;
    transform: translate(0,-50%);
    height: 20px;
    width: 3px;
    background-color: white;
    transition: 0.8s all;
    
}
#borderline.change{
    
    
    height: 50px;
    
}





#infoDeux{
    position: absolute;
    z-index: 100;
    right: 29px;
    top:50%;
    transform: translate(0,-50%);
    
}

#infoDeux:hover{
    cursor: pointer;
    
}

#borderlinedeux{
    position: absolute;
    z-index: 100;
    right: 19px;
    top:50%;
    transform: translate(0,-50%);
    height: 20px;
    width: 3px;
    background-color: white;
    transition: 0.8s all;
    
}
#borderlinedeux.change{
    
    
    height: 50px;
    
}



















.logomenu{
    position: relative;
    margin-top:1%; 
}

.border{
    position: absolute;
    background:transparent;
    
    top:20px;
    left:20px;
    bottom: 20px;
    right: 20px;
    border: 1px solid rgba(255,255,255,0.8);
    
    z-index: 1;
    
}









#menu:hover{
    
    cursor: pointer;
   padding-bottom: 50px;
    padding-left: 58px;
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
    transition: 0.5s all;

}
.close:hover {
  opacity: 1;
    cursor:pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: black;
    border: 2px solid black;
    border-radius: 20px;
    
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}





/*__________________Section1___________________*/








.section {
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#424242;
    width
}

.titre {
    
    
    position: absolute;
    color:#cdcdcd;
    bottom:20%;
    z-index:3;  
}

.titre .logo2 {
    width: 60%; margin : 0 auto 0 auto;
}












/*_____Bouton_____*/










#onglet{
    background:white;
    background-size: 100%;
    width: 100%;
    height: 100%;
    
    z-index: 1000;
    position: absolute;
    left:-100%;
    bottom: -100%;
    transition: 0.8s all;
    
}

#onglet.change{
    transform: translate(100%,0%)
}

h1{
    font-family: chalk;
    font-size:50px;
    
}
p {
    margin : 100px 5% 0 5%;
    font-family: chalk;
    font-size:30px;
    text-align: justify;
}





#onglettrois{
    background:url(images/bg.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: -100%;
    z-index: 1000;
    position: absolute;
    right:-100%;
    transition: 0.8s all;
    
}

#onglettrois.change{
    transform: translate(-100%,0%)
}


















.start button {
	border:3px solid white;
    border-radius:10px;
	color:#580000;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    transition: 0.7s all;
    	background-color: #fff;

}



.start button:hover {

	background-color: transparent;
    color:white;
    cursor: pointer;
    
	
}


    
@media all and (max-width: 840px){
    .start button {
	border:3px solid white;
    border-radius:10px;
	color:#580000;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    transition: 0.7s all;
    	background-color: #fff;

}
    .titre .logo2 {
    width: 100%;
}
}









/*_____Fond vidéo_____*/







/*__________________Section2___________________*/





/*------------------------------------------------------*/
























/*------------------------------------Flip the phone----------------------------*/


@media all and (min-height: 301px){
    .FlipPhone {display:none;}
}



@media all and (max-height: 300px){
	body {
		overflow-y: hidden;
	}
	
	.FlipPhone {
		
		width: 100%;
		height: 100%;
		overflow: visible;
		z-index:1000;
		margin:0 auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}
	.FlipPhone h1 {
		color:#dedede;
		text-align: center;
		margin:  auto;
		position: absolute;
		top: 30%; left: 0; bottom: 0; right: 0;
		
		
	}
	.Phone {
		padding:0 5% 0 5% ;
		animation-name: rotate;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		margin:  auto;
		position: absolute;
		top: 50%; left: 0; bottom: 0; right: 0;
		
		
		
	}
	
}

@media all and (min-height: 420px){
	.FlipPhone {
		display:none;
	}
}
@keyframes rotate {
    from 	{ transform: rotate(90deg); }
	75%		{ transform: rotate(0); }    
    to   	{ transform: rotate(0); }    
}